
html(lang="en")
  head
    title Forum
    link(rel = 'stylesheet', type = 'text/css', href = '/css/master.css')
    script(type = 'text/javascript', src = '/js/jquery.js')
    block head
  body
    block body
