
mixin showComments(coms)
  ul
    each com in coms
      li
        p= com.Content
        +showComments(com.Children)

html(lang="en")
  head
    title Forum
  body
    h1= post.Title
    if owner
      p by
        =" "
        a(href='/user/' + owner.ID)= owner.Name
    else
      p (post owner not found!)
    p= post.Content
    +showComments(comments)
