
mixin showComments(coms)
  ul
    each com in coms
      li
        p= com.Content
        +showComments(com.Children)

html(lang="en")
  head
    title Forum
  body
    h1= post.Title
    p= post.Content
    +showComments(comments)
