

extends ./page.jade

block body
  h1 Reset password for #{user.Name}
  form(method="post")
    p Password (at least 10 characters):
      input(type="password", name="password")
    p Confirm password:
      input(type="password", name="password2")
    input(type="hidden", name="uid", value=user.ID)
    input(type="hidden", name="token", value=token)
    input(type="submit", value="Reset password")
