extends ./page.jade

block head
  +mathjax

block body
  h1= user.Name
  br
  if login != null && login.ID == user.ID
    a(href = '/edituser') Edit profile
  div !{user.Description}
  a(href = '/') Home
