extends ./page.jade

block head
  script(type = "text/javascript", async, src = "/MathJax/MathJax.js?config=TeX-MML-AM_CHTML")

block body
  h1= user.Name
  div !{markdown.toHTML(user.Description)}
  a(href = '/') Home
